html {
    background-color:#dad16a;
}

body {
    text-align: center;
}

#header {
    width: 100%;
    font-style: italic;
    text-align: center;
}

#header > h1 {
    width: 100%;
    margin: auto;
    margin-top: 8px;
    position: fixed;
    top: -8px;
    left: -8px;
    right: -8px;
    z-index: 2;
    background-color: black;
    color: white;
}

#header > img {
    width: 150px;
    height: 100px;
    position: relative;
    left: 18px;
    margin-top: 37px;
    z-index: 1;
}

/* #stage1 {
    opacity: 0;
} */

/* Hide all but first stage upon entering website */
#stage2,
#stage3,
#stage4,
#stage1 {
    visibility: hidden;
    position: absolute;
    opacity: 0;
}

#stage1,
#stage2,
#stage3 {
    width: 500px;
    text-align: center;
    margin: auto;
    padding: 0 15px;
    border: 8px ridge red;
    border-radius: 30px;
    box-shadow: 10px 8px 6px grey;
    background-color: black;
    color: white;
    /* visibility: hidden; */
    /* position: absolute; */
    /* opacity: 0; */
}

#stage3 {
    width: 690px;
}

#choosePlayerAvatar > h2,
#chooseNpcAvatar > h2,
#chooseBattlefield > h2 {
    padding-top: 10px;
    font-family: 'Rubik Mono One';
}

#playerAvatarOptions,
#npcAvatarOptions,
#battlefieldOptions {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-gap: 10px;
    margin: auto;
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/* default style for avatar options */
.avatarOptions,
.battlefieldOptions {
    display: block;
    text-align: center;
    background-color: #dad16a;
    padding: 0;
    border: 5px ridge red;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.battlefieldOptions {
    border-radius: 5%;
    width: 200px;
}

/* style for hovering over avatar options */
.avatarOptions:hover,
.battlefieldOptions:hover {
    box-shadow: 0px 0px 6px 7px firebrick;
    background-color: #DAD142;
}

/* hide the radio buttons */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  left: -9999px;
}

/* style for checked avatars */
.avatarOptions:checked + label,
.battlefieldOptions:checked + label {
    background-color: #154815;
    border: 5px ridge #efdbdb;
}

/* Style the player chosen avatar
to show it can't be chosen as an opponent */
#playerAvatar + label {
    background-color: red;
}

.submitButton {
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #670505;
    border: 2px ridge silver;
    font-family: 'Rubik Mono One';
    font-size: 17px;
    color: white;
    box-shadow: 2px 2px 4px 0px grey;
}

.submitButton:hover {
    background-color: #d85757;
    box-shadow: 0px 0px 8px 5px firebrick;
}

.submitButton:focus {
    position: relative;
    left: 3px;
    top: 3px;
    outline: none;
    box-shadow: none;
}

/* #playerNameForm > p, */
/* #roundCountForm > p, */
.submitText {
    font-family: sans-serif;
    margin-bottom: 5px;
}

input {
    border-radius: 10px;
    height: 20px;
    font-family: monospace;
    text-align: center;
}

img {
    max-width: 150px;
    max-height: 150px;
}

#battlefield1 + label { background-image: url("./images/battlefields/deathstar.jpg"); }
#battlefield2 + label { background-image: url("./images/battlefields/desert.jpg"); }
#battlefield3 + label { background-image: url("./images/battlefields/kame.png"); }
#battlefield4 + label { background-image: url("./images/battlefields/lava.jpeg"); }
#battlefield5 + label { background-image: url("./images/battlefields/namek.jpeg"); }
#battlefield6 + label { background-image: url("./images/battlefields/sky.jpeg"); }
#battlefield7 + label { background-image: url("./images/battlefields/space.jpeg"); }
#battlefield8 + label { background-image: url("./images/battlefields/water.jpeg"); }
#battlefield9 + label { background-image: url("./images/battlefields/woods.jpeg"); }